<nb-card [nbSpinner]="isCharge" nbSpinnerStatus="success">

  <nb-card-header>
    <span>Historial Procesos</span>
  </nb-card-header>

  <div class="row">
    <div class="col-10">
      <div echarts [options]="options" class="echart"></div>
    </div>
    <div class="col-2">
      <br>
      <br>
      <br>
      <nb-radio-group [name]="charName">
        <nb-radio *ngFor="let option of optionsChar"
                  [checked]="option.checked"
                  [disabled]="option.disabled"
                  (valueChange)="updateCharProcesses($event)"
                  [value]="option.value">
          {{ option.label }}
        </nb-radio>
      </nb-radio-group>

    </div>
  </div>
</nb-card>

<ngx-disk-h></ngx-disk-h>

<ngx-memory-h></ngx-memory-h>

<ngx-load-h></ngx-load-h>
