<nb-card [nbSpinner]="isCharge" nbSpinnerStatus="success">

  <nb-card-header>
    <span>Memoria  Historial</span>
  </nb-card-header>

  <div class="row">
    <div class="col-10">
      <h4>Memoria Ram</h4>
      <div echarts [options]="options" class="echart"></div>
      <h4>Memoria Swap</h4>
      <div echarts [options]="optionsSwap" class="echart"></div>
    </div>
    <div class="col-2">
      <br>
      <br>
      <br>
      <nb-radio-group [name]="charName">
        <nb-radio *ngFor="let option of optionsChar"
                [checked]="option.checked"
                [disabled]="option.disabled"
                (valueChange)="updateCharMemory($event)"
                [value]="option.value">
          {{ option.label }}
        </nb-radio>
      </nb-radio-group>
    </div>
  </div>

</nb-card>